---
import Layout from '../_metalayout.astro'
import HeadshotMenu from '../../components/HeadshotMenu.astro'
import { getCollection } from 'astro:content';

const links = [
  { href: "/", content: "Home"},
  { href: "/resume", content: "Resume"},
  { href: "/technical-cv", content: "Technical CV"},
]

const blogPosts = await getCollection('blog');
---
<style>
  li:hover .post-title {
    color: black;
  }

  li:hover .post-date {
    color: oklch(0.553 0.013 58.071);
  }
</style>
<Layout title="Ben Isenstein | Blog" description="The blog of software developer Ben Isenstein.">
  <div class="w-full max-w-2xl px-8 lg:px-0 py-20">
    <HeadshotMenu links={links} />
    <h1 class="text-3xl tracking-wide my-12 font-bold">Blog</h1>
    <ul>
      {blogPosts.map(post => (
        <li class="mb-3 w-max text-lg"><a href={`/blog/${post.id}`} class="flex items-center gap-4"><span class="text-stone-600 transition-color duration-200 post-title">{post.data.title}</span><span class="text-sm text-stone-400 transition-color duration-200 post-date">{post.data.datePublished.toLocaleDateString("en-US", { month: "short", day: "2-digit", year: "numeric" })}</span></a></li>
      ))}
    </ul>
  </div>
</Layout>