---
import type { MarkdownLayoutProps } from 'astro'
import HeadshotMenu from '../components/HeadshotMenu.astro'

type Props = MarkdownLayoutProps<{
    title: string,
    description: string,
    page: "resume" | "cv"
}>

const frontmatter = Astro.props.frontmatter

const links = [
  { href: "/", content: "Home"},
  { href: "/blog", content: "Blog"},
  frontmatter.page === "resume" ? { href: "/technical-cv", content: "Technical CV"} : { href: "/resume", content: "Resume"},
]
---
<html>
  <head>
    <title>{frontmatter.title}</title>
    <meta name="title" content={frontmatter.title}>
    <meta name="author" content="Ben Isenstein">
    <meta name="description" content={frontmatter.description}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap">
  </head>
  <body>
    <main class="w-100vw flex flex-col items-center leading-relaxed text-stone-900">
      <div class="w-full max-w-2xl flex flex-col px-8 lg:px-0 py-20">
        <HeadshotMenu links={links} />
        <slot />
      </div>
    </main>
  </body>
</html>
<style>
  :root {
    font-family: "Lato", sans-serif;
  }
</style>