---
import Layout from './_metalayout.astro'
import HeadshotMenu from '../components/HeadshotMenu.astro'
const links = [
  { href: "/blog", content: "Blog"},
  { href: "/resume", content: "Resume"},
  { href: "/technical-cv", content: "Technical CV"},
]
---
<Layout title="Ben Isenstein | Full Stack Developer" description="I love crafting rich experiences, and enabling others to do their best work. From Calgary, Alberta, Canada. Lover and traveller of the Americas.">
  <div class="w-full max-w-2xl flex flex-col px-8 lg:px-0 pt-20 pb-16 gap-12">
    <HeadshotMenu links={links} />
    <h1 class="text-3xl tracking-wide font-bold">Ben Isenstein</h1>
    <section class="flex flex-col gap-5">
      <p>Full stack developer. I love crafting rich experiences, and <span class="italic">enabling others to do their best work.</span></p>
      <p>From Calgary, Alberta, Canada. Lover and traveller of the Americas.</p>
      <p>Other hats include entrepreneur, musician, educator, and youth mentor.</p>
      <p>Regularly conducting talks and "ask-me-anythings" at <a class="font-bold text-black border-b-1 border-b-black/20 hover:border-b-black transition duration-300" href="https://www.inceptionu.com/" target="_blank">InceptionU</a>, my alma mater bootcamp. I've witnessed over and over how mentorship strengthens communities, organizations and teams.</p>
      <p>Consulted full-time for Canadian pension <a class="font-bold text-black border-b-1 border-b-black/20 hover:border-b-black transition duration-300" href="https://www.omers.com/" target="_blank">OMERS</a> via agency <a class="font-bold text-black border-b-1 border-b-black/20 hover:border-b-black transition duration-300" href="https://www.devtheory.com/" target="_blank">DevTheory</a> from 2022-2024.</p>
      <p>Currently nomadic in South America. Open to relocate.</p>
    </section>
    <section>
      <h2 class="mb-4 text-lg font-bold">Tech and Tools I Work With</h2>
      <div class="w-full max-w-2xl flex flex-wrap gap-y-4">
        <div class="w-144px">
          <h3 class="mb-2px text-base italic font-bold text-stone-500">
            Languages
          </h3>
          <ul>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">TypeScript</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">Python</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">Go</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">HTML/CSS</code></li>
          </ul>
        </div>
        <div class="w-144px">
          <h3 class="mb-2px text-base italic font-bold text-stone-500">
            Local Dev
          </h3>
          <ul>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">VS Code</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">NodeJS</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">Vite</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">Docker</code></li>
          </ul>
        </div>
        <div class="w-144px">
          <h3 class="mb-2px text-base italic font-bold text-stone-500">
            Infra
          </h3>
          <ul>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">Railway</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">MS Azure</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">Google Cloud</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">Github</code></li>
          </ul>
        </div>
        <div class="w-144px">
          <h3 class="mb-2px text-base italic font-bold text-stone-500">
            Storage
          </h3>
          <ul>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">SQLite</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">Postgres</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">MongoDB</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">Azure Storage</code></li>
          </ul>
        </div>
        <div class="w-144px">
          <h3 class="mb-2px text-base italic font-bold text-stone-500">
            Backend
          </h3>
          <ul>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">Express</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">Flask</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">Supabase</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">Serverless</code></li>
          </ul>
        </div>
        <div class="w-144px">
          <h3 class="mb-2px text-base italic font-bold text-stone-500">
            Frontend
          </h3>
          <ul>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">React</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">Astro</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">Vanilla</code></li>
            <li><code class="px-1 py-2px border-1 rounded-4px text-sm bg-stone-50">TailwindCSS</code></li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <h2 class="p-0 m-0 mb-4 text-lg font-bold">Previous and Ongoing Work</h2>
      <div class="w-full max-w-2xl p-4 overflow-scroll flex gap-4 rounded-md bg-stone-50 shadow-[inset_0_0_2px_rgba(0,0,0,0.5)]">
        <div>
          <a class="font-bold text-black text-base" href="https://react-unstructured-table-production.up.railway.app/" target="_blank">
            React Unstructured Table
          </a>
          <p class="w-200px m-0 p-0 text-stone-500 text-base">
            Render a list of rows with unknown and varied schemas.
          </p>
        </div>
        <div>
          <a class="font-bold text-black text-base" href="https://github.com/BenIsenstein/supastack" target="_blank">
            Supastack
          </a>
          <p class="w-200px m-0 p-0 text-stone-500 text-base">
            CLI tool to start development and deploy a web app template featuring Supabase, React, Vite, and TailwindCSS.
          </p>
        </div>
        <div>
          <a class="font-bold text-black text-base" href="https://github.com/BenIsenstein/http-job-queue" target="_blank">
            Http Job Queue
          </a>
          <p class="w-200px m-0 p-0 text-stone-500 text-base">
            Zero-dependency asynchronous HTTP request queue using Bun JS and Sqlite.
          </p>
        </div>
        <div>
          <a class="font-bold text-black text-base" href="https://conwaygameoflife-production.up.railway.app/" target="_blank">
            Conway's Game of Life
          </a>
          <p class="w-200px m-0 p-0 text-stone-500 text-base">
            Game of Life simulation on an HTML canvas. Careful attention paid to <span class="italic">composability</span> in the software over <span class="italic">inheritance</span>.
          </p>
        </div>
        <div>
          <a class="font-bold text-black text-base" href="https://mortgage-vs-renting-chart-production.up.railway.app/" target="_blank">
            Mortgage vs Renting Chart
          </a>
          <p class="w-200px m-0 p-0 text-stone-500 text-base">
            Find out if you'll be better off buying or renting. Simulate your net worth in either timeline and see the data.
          </p>
        </div>
        <div>
          <a class="font-bold text-black text-base" href="https://github.com/BenIsenstein/image-service-python" target="_blank">
            HTML to PDF Server
          </a>
          <p class="w-200px m-0 p-0 text-stone-500 text-base">
            Flask service to convert any html to pdf using the respective engine from Webkit, wkhtmltopdf.
          </p>
        </div>
      </div>
    </section>
    <section>
      <h2 class="p-0 m-0 mb-4 text-lg font-bold">Connect With Me Online</h2>
      <div class="flex flex-wrap gap-2">
        <div class="flex gap-2">
          <div class="py-1 px-2 flex items-center gap-2 rounded-md">
            <span class="text-xl i-logos:github-icon"></span>
            <a class="p-0 m-0 text-base border-b-1 border-b-black/20 hover:border-b-black transition duration-300" href="https://github.com/BenIsenstein" target="_blank">Github</a>
          </div>
          <div class="py-1 px-2 flex items-center gap-2 rounded-md">
            <span class="text-xl i-logos:linkedin-icon"></span>
            <a class="p-0 m-0 text-base border-b-1 border-b-black/20 hover:border-b-black transition duration-300" href="https://www.linkedin.com/in/benisenstein/" target="_blank">LinkedIn</a>
          </div>
        </div>
        <div class="flex gap-2">
          <div class="py-1 px-2 flex items-center gap-2 rounded-md">
            <span class="text-l i-logos:google-gmail"></span>
            <a class="p-0 m-0 text-base border-b-1 border-b-black/20 hover:border-b-black transition duration-300" href="mailto:ben.isenstein@gmail.com" target="_blank">Email</a>
          </div>
          <div class="py-1 px-2 flex items-end gap-2 rounded-md">
            <span class="text-xl i-logos:whatsapp-icon"></span>
            <a class="p-0 m-0 text-base border-b-1 border-b-black/20 hover:border-b-black transition duration-300" href="https://wa.me/14034774176" target="_blank">WhatsApp</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</Layout>